@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

body {
	background-color: #fafafa;
	align-items: center;
	text-align: center;
	box-sizing: border-box;
	
}

.content {
	padding: 40px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.content .mockup {
	justify-content: center;
	margin-right: 10px;
}

.content .form {
	background-color: white;
	width: 400px;
	text-align: center;
	justify-items: center;
	height: 700px;
	border: 2px rgb(216, 216, 216) solid;
	
}

.content .form h1{
	font-family: 'Sofia', cursive;
	font-size: 35px;
	letter-spacing: 3px;
}

.footer {
	margin: 50px 0;
}

.bawah p, a{
	display: inline;
	text-decoration: none;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: rgb(116, 116, 116);
	padding: 0px 4px;
}

.copyright {
	margin: 10px  0;
}

select {
	border: none;
	color: rgb(116, 116, 116);

}