@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

body {
	background-color: #fafafa;
	align-items: center;
	text-align: center;
	box-sizing: border-box;
	
}

.content {
	padding: 40px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.content .mockup {
	justify-content: center;
	margin-right: 10px;
}

.content .form {
	height: 700px;
}

.content .form .instagram-login{
	background-color: white;
	width: 400px;
	text-align: center;
	justify-items: center;
	height: 450px;
	border: 2px rgb(216, 216, 216) solid;
	padding: 0 2rem;
	
}

.content .form .instagram-login h1{
	font-family: 'Sofia', cursive;
	font-size: 35px;
	letter-spacing: 3px;
	margin-bottom: 2rem;
}

.form .instagram-login input[type=text],input[type=password]  {
	background-color: #fafafa;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 12px;
}

.form .instagram-login input[type=submit] {
	width: 100%;
		background-color: #237bff;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		font-size: 18px;
	}
	
	
.form .instagram-login input[type=submit]:hover {
		background-color: #19c7fc;
	}

.form .instagram-login h5 {
	width: 100%; 
	text-align: center; 
	border-bottom: 1px solid #8e8e8e; 
	line-height: 0.1em;
	margin: 2rem 0 ; 
	color: rgb(116, 116, 116);
	font-family: Arial;
} 

.form .instagram-login h5 span { 
	background-color: white;
	padding:0 10px; 
}

.form .instagram-login .fb a{
	color: rgb(65, 65, 240);
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 600;
}

.form .instagram-login .lupa-pw a{
	color: rgb(95, 95, 241);
	font-size: 13px;
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.form .instagram-lupa-sponsor{
	background-color: white;
	width: 400px;
	text-align: center;
	justify-items: center;
	height: 50px;
	border: 2px rgb(216, 216, 216) solid;
	padding: 0 2rem;
	margin: 1rem 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	
}

.form .instagram-lupa-sponsor .dapat{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 3rem 0;
}

.form .instagram-lupa-sponsor .sponsor p{
	display: inline;
	width: 400px;
	text-align: center;
	justify-items: center;
	height: 200px;
	
}

.form .instagram-lupa-sponsor p {
	margin: 1rem 0;
	
}

.form .instagram-lupa-sponsor .tidak a {
	color: #237bff;
	
}

.footer {
	margin: 50px 0;
}

.bawah p {
	display: inline;
	text-decoration: none;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: rgb(116, 116, 116);
	padding: 0px 4px;
}

.bawah a {
	text-decoration: none;
	color: rgb(116, 116, 116);
}

.copyright {
	margin: 10px  0;
}

select {
	border: none;
	color: rgb(116, 116, 116);

}

a {
	text-decoration: none;
}